<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

  <nav class="navbar bg-light">
    <span class="navbar-text">
       <button type="button" class="btn btn-link">
    <%= link_to("Blog On Rails", root_path) %>
    </button>
    </span>

    <span class="navbar-text">
    <button type="button" class="btn btn-link">
    <%= link_to("Home", root_path) %>
    </button>
    
    <button type="button" class="btn btn-link">
    <%= link_to("New Post", new_post_path) %>
    </button>


    <% if user_signed_in? %>
      <%= link_to("Hello " + current_user.name, edit_user_path(current_user), class:"btn btn-link") %>

        <%= link_to("Logout", session_path, method: :delete, class:"btn btn-link") %>

    <% else %>
      <button type="button" class="btn btn-link">
      <%= link_to("Login", new_session_path) %>
      </button>
      
      <button type="button" class="btn btn-link">
      <%= link_to("Sign Up", new_user_path) %>
      </button>
    <% end %>

    <div class="container">
      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>

    </span>
  </nav>
  <main>
    <%= yield %>
  </main>
  </body>
  
</html>
